<nav>
    <a href="/">Solar System</a>
    <a href="/mercury">Mercury</a>
    <a href="/venus">Venus</a>
    <a href="/mars">Mars</a>
    <a href="/saturn">Saturn</a>
    <a href="/nasa">NASA</a>
</nav>