<nav>
    <a href="/">Solar System</a>
    <a href="/getPlanetInfo?planet=Mercury">Mercury</a>
    <a href="/getPlanetInfo?planet=Venus">Venus</a>
    <a href="/getPlanetInfo?planet=Earth">Earth</a>
    <a href="/getPlanetInfo?planet=Mars">Mars</a>
    <a href="/getPlanetInfo?planet=Jupiter">Jupiter</a>
    <a href="/getPlanetInfo?planet=Saturn">Saturn</a>
    <a href="/getPlanetInfo?planet=Uranus">Uranus</a>
    <a href="/getPlanetInfo?planet=Neptune">Neptune</a>
    <a href="/nasaToday">NASA</a>
</nav>