<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!-- background="<%= img %>" put this in body tag (inline)-->
    
    <h1>Solar System</h1>
    <%- include('partials/navbar.ejs')%>
    <%- include('partials/footer.ejs')%>

    <br>
    <form action="/getPlanetInfo">
        <select name="planet">
            <option value="Mercury">Mercury</option>
            <option value="Venus">Venus</option>
            <option value="Earth">Earth</option>
            <option value="Mars">Mars</option>
            <option value="Jupiter">Jupiter</option>
            <option value="Saturn">Saturn</option>
            <option value="Uranus">Uranus</option>
            <option value="Neptune">Neptune</option>
        </select>
         <button>Get Info</button>
    </form>

    <br>
    <form action="/getComAstInfo">
        <select name="Obj">
            <option value="Comets">Comets</option>
            <option value="Asteroids">Asteroids</option>
        </select>
         <button>Get Info</button>
    </form>
   
    <img src="<%= img %>">


</body>
</html>